@model Gestreino.Models.GT_Quest_Anxient
@using Gestreino.Classes
@{
    ViewBag.Title = "Ansiedade e Depressão";
}
@if (!string.IsNullOrEmpty(Cookies.ReadCookie(Cookies.COOKIES_GESTREINO_AVALIADO)) && !string.IsNullOrEmpty(Configs.GESTREINO_AVALIDO_NOME))
{
    <style>
        .animated ul {
            list-style: none;
            padding: 0 17px !important;
        }
        .animated label {
            margin-bottom: 5px !important
        }
    </style>
    <!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            @using (Ajax.BeginForm("anxiety", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }, new { Id = "anxientForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.PEsId)
                @Html.HiddenFor(m => m.ID)
                <input type="hidden" value="2" name="frmaction" />
                <input type="hidden" value="GT_RespAnsiedadeDepressao" id="GT_Res" />
                <div class="row">
                    <div class="col-md-2">
                        <div class="">
                            <a href="javascript:" data-placement="top" title="" class="open-modal-crud btn btn-success btn-block" data-id="0" data-action="anxiety" data-entity="gtquest" data-toggle="modal" data-target="#crudControlModal">
                                <i class="fa fa-search"></i>   Ver resultado..
                            </a>
                            @if (AcessControl.Authorized(AcessControl.GT_QUEST_ANXIETY_UPDATE))
                            {
                                <a class="btn btn-secondary btn-block" href="@Url.Action("anxiety", "gtmanagement", new { Id = string.Empty })"><i class="fa fa-plus-circle"></i> Novo</a>
                            }</div>
                    </div>
                    <div class="col-md-10">
                        <div class="animated flipInY">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-clipboard-check"></i>
                                </div>
                                <h3 class="p-2">Estado Psicológico - Ansiedade e Depressão</h3>

                                <p class="mt-5">
                                    Este questionário está concebido de forma a ajudar-nos a saber como se sente. Leia todas as frases e seleccione uma das respostas que melhore corresponde ao modo como se tem sentido na última semana. Não demore muito tempo a pensar nas respostas. A sua reacção imediata a cada frase será provavelmente mais exacta do que uma resposta muito reflectida.
                                </p>
                                @if (Model.ID > 0)
                    {
                        <h6 class="p-2 mt-2 text-success"><i class="fa fa-floppy-disk"></i> Questionário registado: @ViewBag.data[0].DATA_INSERCAO.ToString("dd/MM/yyyy HH:mm")</h6>
                    }

                                <ul class="mt-3">
                                    <li>
                                        <h6>1. Sinto-me tenso ou contraído</h6>
                                        <ul>
                                            <li><input type="radio" id="q1_1" name="q1" value="1" @(Model.q1!=null && Model.q1==1?"checked":"")/> <label for="q1_1">A maior parte das vezes</label></li>
                                            <li><input type="radio" id="q1_2" name="q1" value="2" @(Model.q1!=null && Model.q1==2?"checked":"")/> <label for="q1_2">Muitas vezes</label></li>
                                            <li><input type="radio" id="q1_3" name="q1" value="3" @(Model.q1!=null && Model.q1==3?"checked":"")/> <label for="q1_3">De vez em quando, ocasionalmente</label></li>
                                            <li><input type="radio" id="q1_4" name="q1" value="4" @(Model.q1!=null && Model.q1==4?"checked":"")/> <label for="q1_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>2. Continuo a ter prazer nas mesmas coisas de antes</h6>
                                        <ul>
                                            <li><input type="radio" id="q2_1" name="q2" value="1" @(Model.q2!=null && Model.q2==1?"checked":"")/> <label for="q2_1">Tanto como antes</label></li>
                                            <li><input type="radio" id="q2_2" name="q2" value="2" @(Model.q2!=null && Model.q2==2?"checked":"")/> <label for="q2_2">Não tanto como antes</label></li>
                                            <li><input type="radio" id="q2_3" name="q2" value="3" @(Model.q2!=null && Model.q2==3?"checked":"")/> <label for="q2_3">Só um pouco</label></li>
                                            <li><input type="radio" id="q2_4" name="q2" value="4" @(Model.q2!=null && Model.q2==4?"checked":"")/> <label for="q2_4">Quase nada</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>3. Tenho uma sensação de medo como se algo estivesse para acontecer</h6>
                                        <ul>
                                            <li><input type="radio" id="q3_1" name="q3" value="1" @(Model.q3!=null && Model.q3==1?"checked":"")/> <label for="q3_1">Tanto como antes</label></li>
                                            <li><input type="radio" id="q3_2" name="q3" value="2" @(Model.q3!=null && Model.q3==2?"checked":"")/> <label for="q3_2">Não tanto como antes</label></li>
                                            <li><input type="radio" id="q3_3" name="q3" value="3" @(Model.q3!=null && Model.q3==3?"checked":"")/> <label for="q3_3">Só um pouco</label></li>
                                            <li><input type="radio" id="q3_4" name="q3" value="4" @(Model.q3!=null && Model.q3==4?"checked":"")/> <label for="q3_4">Quase nada</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>4. Sou capaz de rir e de ver o lado divertido das situações</h6>
                                        <ul>
                                            <li><input type="radio" id="q4_1" name="q4" value="1" @(Model.q4!=null && Model.q4==1?"checked":"")/> <label for="q4_1">Tanto como habitualmente</label></li>
                                            <li><input type="radio" id="q4_2" name="q4" value="2" @(Model.q4!=null && Model.q4==2?"checked":"")/> <label for="q4_2">Não tanto como hatiualmente</label></li>
                                            <li><input type="radio" id="q4_3" name="q4" value="3" @(Model.q4!=null && Model.q4==3?"checked":"")/> <label for="q4_3">Nitidamente menos</label></li>
                                            <li><input type="radio" id="q4_4" name="q4" value="4" @(Model.q4!=null && Model.q4==4?"checked":"")/> <label for="q4_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>5. Tenho a cabeça cheia de preocupações</h6>
                                        <ul>
                                            <li><input type="radio" id="q5_1" name="q5" value="1" @(Model.q5!=null && Model.q5==1?"checked":"")/> <label for="q5_1">A maior parte do tempo</label></li>
                                            <li><input type="radio" id="q5_2" name="q5" value="2" @(Model.q5!=null && Model.q5==2?"checked":"")/> <label for="q5_2">Muitas vezes</label></li>
                                            <li><input type="radio" id="q5_3" name="q5" value="3" @(Model.q5!=null && Model.q5==3?"checked":"")/> <label for="q5_3">De vez em quando</label></li>
                                            <li><input type="radio" id="q5_4" name="q5" value="4" @(Model.q5!=null && Model.q5==4?"checked":"")/> <label for="q5_4">Raramente</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>6. Sinto-me bem disposto</h6>
                                        <ul>
                                            <li><input type="radio" id="q6_1" name="q6" value="1" @(Model.q6!=null && Model.q6==1?"checked":"")/> <label for="q6_1">Nunca</label></li>
                                            <li><input type="radio" id="q6_2" name="q6" value="2" @(Model.q6!=null && Model.q6==2?"checked":"")/> <label for="q6_2">Poucas vezes</label></li>
                                            <li><input type="radio" id="q6_3" name="q6" value="3" @(Model.q6!=null && Model.q6==3?"checked":"")/> <label for="q6_3">Bastantes vezes</label></li>
                                            <li><input type="radio" id="q6_4" name="q6" value="4" @(Model.q6!=null && Model.q6==4?"checked":"")/> <label for="q6_4">Quase sempre</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>7. Sou capaz de estar à vontade e sentir-me relaxado</h6>
                                        <ul>
                                            <li><input type="radio" id="q7_1" name="q7" value="1" @(Model.q7!=null && Model.q7==1?"checked":"")/> <label for="q7_1">Sempre</label></li>
                                            <li><input type="radio" id="q7_2" name="q7" value="2" @(Model.q7!=null && Model.q7==2?"checked":"")/> <label for="q7_2">Habitualmente</label></li>
                                            <li><input type="radio" id="q7_3" name="q7" value="3" @(Model.q7!=null && Model.q7==3?"checked":"")/> <label for="q7_3">Algumas vezes</label></li>
                                            <li><input type="radio" id="q7_4" name="q7" value="4" @(Model.q7!=null && Model.q7==4?"checked":"")/> <label for="q7_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>8. Sinto-me lento</h6>
                                        <ul>
                                            <li><input type="radio" id="q8_1" name="q8" value="1" @(Model.q8!=null && Model.q8==1?"checked":"")/> <label for="q8_1">Quase sempre</label></li>
                                            <li><input type="radio" id="q8_2" name="q8" value="2" @(Model.q8!=null && Model.q8==2?"checked":"")/> <label for="q8_2">Com muita frequência</label></li>
                                            <li><input type="radio" id="q8_3" name="q8" value="3" @(Model.q8!=null && Model.q8==3?"checked":"")/> <label for="q8_3">Algumas vezes</label></li>
                                            <li><input type="radio" id="q8_4" name="q8" value="4" @(Model.q8!=null && Model.q8==4?"checked":"")/> <label for="q8_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>9. Por vezes fico tão assustado que até sinto um aperto no estômago</h6>
                                        <ul>
                                            <li><input type="radio" id="q9_1" name="q9" value="1" @(Model.q9!=null && Model.q9==1?"checked":"")/> <label for="q9_1">Nunca</label></li>
                                            <li><input type="radio" id="q9_2" name="q9" value="2" @(Model.q9!=null && Model.q9==2?"checked":"")/> <label for="q9_2">De vez em quando</label></li>
                                            <li><input type="radio" id="q9_3" name="q9" value="3" @(Model.q9!=null && Model.q9==3?"checked":"")/> <label for="q9_3">Muitas vezes</label></li>
                                            <li><input type="radio" id="q9_4" name="q9" value="4" @(Model.q9!=null && Model.q9==4?"checked":"")/> <label for="q9_4">Quase sempre</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>10. Perdi o meu interesse em cuidar no meu aspecto</h6>
                                        <ul>
                                            <li><input type="radio" id="q10_1" name="q10" value="1" @(Model.q10!=null && Model.q10==1?"checked":"")/> <label for="q10_1">Completamente</label></li>
                                            <li><input type="radio" id="q10_2" name="q10" value="2" @(Model.q10!=null && Model.q10==2?"checked":"")/> <label for="q10_2">Não tenho tanto cuidado como devia</label></li>
                                            <li><input type="radio" id="q10_3" name="q10" value="3" @(Model.q10!=null && Model.q10==3?"checked":"")/> <label for="q10_3">Talvez menos interesse do que antes</label></li>
                                            <li><input type="radio" id="q10_4" name="q10" value="4" @(Model.q10!=null && Model.q10==4?"checked":"")/> <label for="q10_4">O mesmo interesse de sempre</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>11. Sinto-me impaciente e não consigo estar parado</h6>
                                        <ul>
                                            <li><input type="radio" id="q11_1" name="q11" value="1" @(Model.q11!=null && Model.q11==1?"checked":"")/> <label for="q11_1">Sempre</label></li>
                                            <li><input type="radio" id="q11_2" name="q11" value="2" @(Model.q11!=null && Model.q11==2?"checked":"")/> <label for="q11_2">Habitualmente</label></li>
                                            <li><input type="radio" id="q11_3" name="q11" value="3" @(Model.q11!=null && Model.q11==3?"checked":"")/> <label for="q11_3">Algumas vezes</label></li>
                                            <li><input type="radio" id="q11_4" name="q11" value="4" @(Model.q11!=null && Model.q11==4?"checked":"")/> <label for="q11_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>12. Penso com prazer nas coisas futuras</h6>
                                        <ul>
                                            <li><input type="radio" id="q12_1" name="q12" value="1" @(Model.q12!=null && Model.q12==1?"checked":"")/> <label for="q12_1">Tanto como habitualmente</label></li>
                                            <li><input type="radio" id="q12_2" name="q12" value="2" @(Model.q12!=null && Model.q12==2?"checked":"")/> <label for="q12_2">Menos que anteriormente</label></li>
                                            <li><input type="radio" id="q12_3" name="q12" value="3" @(Model.q12!=null && Model.q12==3?"checked":"")/> <label for="q12_3">Bastante menos que anteriormente</label></li>
                                            <li><input type="radio" id="q12_4" name="q12" value="4" @(Model.q12!=null && Model.q12==4?"checked":"")/> <label for="q12_4">Quase nada</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>13. Tenho sensações súbitas de pânico</h6>
                                        <ul>
                                            <li><input type="radio" id="q13_1" name="q13" value="1" @(Model.q13!=null && Model.q13==1?"checked":"")/> <label for="q13_1">Com grande frequência</label></li>
                                            <li><input type="radio" id="q13_2" name="q13" value="2" @(Model.q13!=null && Model.q13==2?"checked":"")/> <label for="q13_2">Bastantes vezes</label></li>
                                            <li><input type="radio" id="q13_3" name="q13" value="3" @(Model.q13!=null && Model.q13==3?"checked":"")/> <label for="q13_3">Algumas vezes</label></li>
                                            <li><input type="radio" id="q13_4" name="q13" value="4" @(Model.q13!=null && Model.q13==4?"checked":"")/> <label for="q13_4">Nunca</label></li>
                                        </ul>
                                    </li>
                                    <li class="mt-2">
                                        <h6>14. Sinto-me capaz de apreciar um bom livro ou um bom programa de rádio ou TV</h6>
                                        <ul>
                                            <li><input type="radio" id="q14_1" name="q14" value="1" @(Model.q14!=null && Model.q14==1?"checked":"")/> <label for="q14_1">Frequentemente</label></li>
                                            <li><input type="radio" id="q14_2" name="q14" value="2" @(Model.q14!=null && Model.q14==2?"checked":"")/> <label for="q14_2">Algumas vezes</label></li>
                                            <li><input type="radio" id="q14_3" name="q14" value="3" @(Model.q14!=null && Model.q14==3?"checked":"")/> <label for="q14_3">Poucas vezes</label></li>
                                            <li><input type="radio" id="q14_4" name="q14" value="4" @(Model.q14!=null && Model.q14==4?"checked":"")/> <label for="q14_4">Muito raramente</label></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--  DATATABLE START -->
                        <div class="card mb-32pt">
                            <div class="card-header">
                                <div class="form-inline">
                                    <label class="" for="length_change">Mostrar</label>
                                    <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GTQuestTable">
                                        <option value='10'>10</option>
                                        <option value='25'>25</option>
                                        <option value='50'>50</option>
                                        <option value='100'>100</option>
                                        <option value='500'>500</option>
                                        <option value='1000'>1000</option>
                                        <option value='2000'>2000</option>
                                        <option value='5000'>5000</option>
                                        <option value='10000'>10000</option>
                                    </select>
                                    <label class="" for="length_change">registos</label>
                                    <div class="btn-group">
                                        <button type="button" title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GTQuestTable"><i class="fa fa-check-square"></i></button>
                                        @if (AcessControl.Authorized(AcessControl.GT_QUEST_ANXIETY_DELETE))
                                        {<button type="button" title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-upload="GT_RespAnsiedadeDepressao" data-entity="gtquest" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                        } <button type="button" title="Pesquisar" class="btnSearch btn btn-default" data-id="GTQuestTable"><i class="fa fa-search"></i></button>
                                            <button type="button" title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GTQuestTable"><i class="fa fa-eraser"></i></button>
                                            <!--Separator-->
                                            <a title="Exportar filtro (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtquest", applyFilter = "true" })" target="_blank" data-id="GTQuestTable"><i class="fa fa-filter"></i></a>
                                            <a title="Exportar todos (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtquest", applyFilter = "false" })" target="_blank" data-id="GTQuestTable"><i class="fa fa-file-excel"></i></a>
                                        </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="GTQuestTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><input type="text" id="GTQuestTableTreino" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="GTQuestTableInsercao" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="GTQuestTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                            <td><input type="text" id="GTQuestTableActualizacao" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="GTQuestTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th data-name="GTQuestTableTreino">&nbsp;</th>
                                            <th data-name="GTQuestTableInsercao">Inserção</th>
                                            <th data-name="GTQuestTableDataInsercao">Data Inserção</th>
                                            <th data-name="GTQuestTableActualizacao">Actualização</th>
                                            <th data-name="GTQuestTableDataActualizacao">Data Actualização</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="card-footer p-8pt">
                                <span class="paginateInfoGTQuestTable paginateInfo mr-12pt" style="float:right"></span>
                                <div id="paginateGTQuestTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                            </div>
                        </div>
                        <!--  DATATABLE START -->
                    </div>
                </div>
            }
        </div>
    </div>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
    <!-- /page content -->
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            handleDataGTQuestTable();
        });
    </script>
}
else
{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $('#selecionaravaliado').click();
        });
    </script>
}