@model Gestreino.Models.CoronaryRisk
@using Gestreino.Classes
@{
    ViewBag.Title = "Risco Coronário";
}
@if (!string.IsNullOrEmpty(Cookies.ReadCookie(Cookies.COOKIES_GESTREINO_AVALIADO)) && !string.IsNullOrEmpty(Configs.GESTREINO_AVALIDO_NOME))
{
    <style>
        .table td, .table th:not(#GTQuestTable) {
            border-top: none !important;
            padding: .25rem .75rem !important;
        }
    </style>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                @using (Ajax.BeginForm("coronaryrisk", "gtmanagement", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }, new { Id = "anxientForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.PEsId)
                    @Html.HiddenFor(m => m.ID)
                    <input type="hidden" value="2" name="frmaction" />
                    <input type="hidden" value="GT_RespRisco" id="GT_Res" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <a href="javascript:" data-placement="top" title="" class="open-modal-crud btn btn-success" data-id="0" data-action="risk" data-entity="gtquest" data-toggle="modal" data-target="#crudControlModal">
                                    <i class="fa fa-search"></i>   Ver resultado..
                                </a>
                                @if (AcessControl.Authorized(AcessControl.GT_QUEST_CORONARYRISK_UPDATE))
                                {
                                    <button type="submit" value="1" name="frmaction" class="btn btn-success btn-sm"><i class="fa fa-floppy-disk"></i> Guardar</button>
                                    <a class="btn btn-secondary" href="@Url.Action("coronaryrisk", "gtmanagement", new { Id = string.Empty })"><i class="fa fa-plus-circle"></i> Novo</a>
                                }</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 mt-2">
                            <div class="animated flipInY">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-clipboard-check"></i>
                                    </div>
                                    <h3 class="p-2">Estratificação de Risco Coronário</h3>

                                    @if (Model.ID > 0)
                                    {
                                        <h6 class="p-2 mt-2 text-success"><i class="fa fa-floppy-disk"></i> Questionário registado: @ViewBag.data[0].DATA_INSERCAO.ToString("dd/MM/yyyy HH:mm")</h6>
                                    }

                                    <table class="table mt-3">
                                        <tr>
                                            <td>
                                                <h5> 1. Idade</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>@Model.IdadeQuery</td>
                                            <td>
                                                <input type="radio" id="q1_1" name="q1" value="1" @(Model.q1 != null && Model.q1 == 1 ? "checked" : "") /> <label for="q1_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q1_2" name="q1" value="0" @(Model.q1 != null && Model.q1 == 0 ? "checked" : "") /> <label for="q1_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>  2. Hereditariedade</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem algum familiar em primeiro grau do sexo masculino (pai, irmão, filho) que tenha tido enfarte do miocárdio, revascularização coronária, ou morte súbita antes dos 55 anos?
                                            </td>
                                            <td>
                                                <input type="radio" id="q2_1" name="q2" value="1" @(Model.q2 != null && Model.q2 == 1 ? "checked" : "") /> <label for="q2_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q2_2" name="q2" value="0" @(Model.q2 != null && Model.q2 == 0 ? "checked" : "") /> <label for="q2_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem algum familiar em primeiro grau do sexo feminino (mãe, irmã, filha) que tenha tido enfarte do miocárdio, revascularização coronária, ou morte súbita antes dos 55 anos?
                                            </td>
                                            <td>
                                                <input type="radio" id="q16_1" name="q16" value="1" @(Model.q16 != null && Model.q16 == 1 ? "checked" : "") /> <label for="q16_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q16_2" name="q16" value="0" @(Model.q16 != null && Model.q16 == 0 ? "checked" : "") /> <label for="q16_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>  3. Tabagismo</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Fuma actualmente?
                                            </td>
                                            <td>
                                                <input type="radio" id="q3_1" name="q3" value="1" @(Model.q3 != null && Model.q3 == 1 ? "checked" : "") /> <label for="q3_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q3_2" name="q3" value="0" @(Model.q3 != null && Model.q3 == 0 ? "checked" : "") /> <label for="q3_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Deixou de fumar nos últimos 6 meses?
                                            </td>
                                            <td>
                                                <input type="radio" id="q4_1" name="q4" value="1" @(Model.q4 != null && Model.q4 == 1 ? "checked" : "") /> <label for="q4_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q4_2" name="q4" value="0" @(Model.q4 != null && Model.q4 == 0 ? "checked" : "") /> <label for="q4_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Quantos cigarros fuma/fumava diariamente(em média)?
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.txtCigarrosMedia, new { type = "number", min = "1", @class = "form-control form-control-sm w-25" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>    4. Tensão Arterial</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem tensão arterial sistólica (máxima) superior a 140 mm Hg ou tensão arterial distólica (mínima) superior 90 mm Hg (confirmada em duas ocasiões diferentes)?
                                            </td>
                                            <td>
                                                <input type="radio" id="q5_1" name="q5" value="1" @(Model.q5 != null && Model.q5 == 1 ? "checked" : "") /> <label for="q5_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q5_2" name="q5" value="0" @(Model.q5 != null && Model.q5 == 0 ? "checked" : "") /> <label for="q5_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Indique os valores:
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-2"><label class="col-form-label">Máx:</label></div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.txtMaxSistolica, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"><label class="col-form-label">Min:</label></div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.txtMinSistolica, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"><label class="col-form-label">Máx:</label></div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.txtMaxDistolica, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"><label class="col-form-label">Min:</label></div>
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(m => m.txtMinDistolica, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Está sob efeito de medicação para o controlo da tensão arterial?
                                            </td>
                                            <td>
                                                <input type="radio" id="q6_1" name="q6" value="1" @(Model.q6 != null && Model.q6 == 1 ? "checked" : "") /> <label for="q6_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q6_2" name="q6" value="0" @(Model.q6 != null && Model.q6 == 0 ? "checked" : "") /> <label for="q6_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Se sim qual o nome do medicamento?
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.txtMedicamento, new { @class = "form-control form-control-sm w-75\"" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h5> 5. Hipercolesterolémia</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem colesterol superior a 200  mg/dl?
                                            </td>
                                            <td>
                                                <input type="radio" id="q7_1" name="q7" value="1" @(Model.q7 != null && Model.q7 == 1 ? "checked" : "") /> <label for="q7_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q7_2" name="q7" value="0" @(Model.q7 != null && Model.q7 == 0 ? "checked" : "") /> <label for="q7_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem LDL (colesterol mau) superior a 130 mg/dl?
                                            </td>
                                            <td>
                                                <input type="radio" id="q8_1" name="q8" value="1" @(Model.q8 != null && Model.q8 == 1 ? "checked" : "") /> <label for="q8_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q8_2" name="q8" value="0" @(Model.q8 != null && Model.q8 == 0 ? "checked" : "") /> <label for="q8_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem HDL (colesterol bom) inferior a 35 mg/dl?
                                            </td>
                                            <td>
                                                <input type="radio" id="q9_1" name="q9" value="1" @(Model.q9 != null && Model.q9 == 1 ? "checked" : "") /> <label for="q9_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q9_2" name="q9" value="0" @(Model.q9 != null && Model.q9 == 0 ? "checked" : "") /> <label for="q9_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tem HDL (colesterol bom) superior a 60 mg/dl?
                                            </td>
                                            <td>
                                                <input type="radio" id="q10_1" name="q10" value="1" @(Model.q10 != null && Model.q10 == 1 ? "checked" : "") /> <label for="q10_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q10_2" name="q10" value="0" @(Model.q10 != null && Model.q10 == 0 ? "checked" : "") /> <label for="q10_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Está medicado(a) para controlo do colesterol?
                                            </td>
                                            <td>
                                                <input type="radio" id="q11_1" name="q11" value="1" @(Model.q11 != null && Model.q11 == 1 ? "checked" : "") /> <label for="q11_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q11_2" name="q11" value="0" @(Model.q11 != null && Model.q11 == 0 ? "checked" : "") /> <label for="q11_2">Não</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h5> 6. Intolerância à Glicose</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Apresenta glicose sanguínea em jejum superior a 110 mg/dl (confirmada em duas ocasiões diferentes)?
                                            </td>
                                            <td>
                                                <input type="radio" id="q12_1" name="q12" value="1" @(Model.q12 != null && Model.q12 == 1 ? "checked" : "") /> <label for="q12_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q12_2" name="q12" value="0" @(Model.q12 != null && Model.q12 == 0 ? "checked" : "") /> <label for="q12_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Indique os valores:
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-1">1ª:</div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.txtGlicose1, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                    <div class="col-md-1">2ª:</div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.txtGlicose2, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h5>  7. Inactividade Física</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Acumula mais de 30 min/dia de actividade física, na maior parte dos dias?
                                            </td>
                                            <td>
                                                <input type="radio" id="q13_1" name="q13" value="1" @(Model.q13 != null && Model.q13 == 1 ? "checked" : "") /> <label for="q13_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q13_2" name="q13" value="0" @(Model.q13 != null && Model.q13 == 0 ? "checked" : "") /> <label for="q13_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Passa a maior parte do dia sentado(a)?
                                            </td>
                                            <td>
                                                <input type="radio" id="q14_1" name="q14" value="1" @(Model.q14 != null && Model.q14 == 1 ? "checked" : "") /> <label for="q14_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q14_2" name="q14" value="0" @(Model.q14 != null && Model.q14 == 0 ? "checked" : "") /> <label for="q14_2">Não</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Faz exercício regularmente?
                                            </td>
                                            <td>
                                                <input type="radio" id="q15_1" name="q15" value="1" @(Model.q15 != null && Model.q15 == 1 ? "checked" : "") /> <label for="q15_1">Sim</label>
                                                &nbsp;&nbsp;<input type="radio" id="q15_2" name="q15" value="0" @(Model.q15 != null && Model.q15 == 0 ? "checked" : "") /> <label for="q15_2">Não</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h5> 8. Obesidade</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Qual a medida do seu perímetro abdominal?
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.txtPerimetro, new { type = "number", min = "1", @class = "form-control form-control-sm" })
                                                    </div>
                                                    <div class="col-md-1">cm</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Qual o seu IMC?
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.txtIMC, new { @readonly = "", @class = "form-control form-control-sm" })
                                                    </div>
                                                    <div class="col-md-1">kg/m2</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>Doenças conhecidas associadas ao risco coronário</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td style="width:30%">
                                                <h5>Doença Cardiovascular</h5>
                                            </td>
                                            <td style="width:70%">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkCardiaca, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkCardiaca, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtCardiaca))
                                                {
                                                    @Html.TextBoxFor(m => m.txtCardiaca, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtCardiaca, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkVascular, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkVascular, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtVascular))
                                                {
                                                    @Html.TextBoxFor(m => m.txtVascular, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtVascular, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkCerebroVascular, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkCerebroVascular, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtCerebroVascular))
                                                {
                                                    @Html.TextBoxFor(m => m.txtCerebroVascular, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtCerebroVascular, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkCardioVascularOutras, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkCardioVascularOutras, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtCardioVascularOutras))
                                                {
                                                    @Html.TextBoxFor(m => m.txtCardioVascularOutras, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtCardioVascularOutras, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>Doença Pulmonar</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkObstrucao, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkObstrucao, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtObstrucao))
                                                {
                                                    @Html.TextBoxFor(m => m.txtObstrucao, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtObstrucao, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkAsma, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkAsma, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtAsma))
                                                {
                                                    @Html.TextBoxFor(m => m.txtAsma, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtAsma, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkFibrose, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkFibrose, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtFibrose))
                                                {
                                                    @Html.TextBoxFor(m => m.txtFibrose, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtFibrose, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkPulmomarOutras, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkPulmomarOutras, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtPulmomarOutras))
                                                {
                                                    @Html.TextBoxFor(m => m.txtPulmomarOutras, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtPulmomarOutras, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>Doença Metabólica</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkDiabetes1, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkDiabetes1, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtDiabetes1))
                                                {
                                                    @Html.TextBoxFor(m => m.txtDiabetes1, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtDiabetes1, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkDiabetes2, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkDiabetes2, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtDiabetes2))
                                                {
                                                    @Html.TextBoxFor(m => m.txtDiabetes2, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtDiabetes2, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkTiroide, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkTiroide, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtTiroide))
                                                {
                                                    @Html.TextBoxFor(m => m.txtTiroide, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtTiroide, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkRenais, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkRenais, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtRenais))
                                                {
                                                    @Html.TextBoxFor(m => m.txtRenais, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtRenais, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkFigado, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkFigado, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtFibrose))
                                                {
                                                    @Html.TextBoxFor(m => m.txtFibrose, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtFibrose, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkMetabolicaOutras, new { @class = "chkcoronaryRisk" })
                                                @Html.LabelFor(m => m.chkMetabolicaOutras, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.txtMetabolicaOutras))
                                                {
                                                    @Html.TextBoxFor(m => m.txtMetabolicaOutras, new { @class = "form-control form-control-sm w-75" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(m => m.txtMetabolicaOutras, new { disabled = "", @class = "form-control form-control-sm w-75" })
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <h5>Sinais e sintomas sugestivos de doença cardiovascular ou pulmunar</h5>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkDor, new { @class = "" })
                                                @Html.LabelFor(m => m.chkDor, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkRespiracao, new { @class = "" })
                                                @Html.LabelFor(m => m.chkRespiracao, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkTonturas, new { @class = "" })
                                                @Html.LabelFor(m => m.chkTonturas, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkDispeneia, new { @class = "" })
                                                @Html.LabelFor(m => m.chkDispeneia, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkEdema, new { @class = "" })
                                                @Html.LabelFor(m => m.chkEdema, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkPalpitacoes, new { @class = "" })
                                                @Html.LabelFor(m => m.chkPalpitacoes, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkClaudicacao, new { @class = "" })
                                                @Html.LabelFor(m => m.chkClaudicacao, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkMurmurio, new { @class = "" })
                                                @Html.LabelFor(m => m.chkMurmurio, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.chkfadiga, new { @class = "" })
                                                @Html.LabelFor(m => m.chkfadiga, new { @class = " col-form-label" })
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!--  DATATABLE START -->
                            <div class="card mb-32pt mt-2">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <label class="" for="length_change">Mostrar</label>
                                        <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="GTQuestTable">
                                            <option value='10'>10</option>
                                            <option value='25'>25</option>
                                            <option value='50'>50</option>
                                            <option value='100'>100</option>
                                            <option value='500'>500</option>
                                            <option value='1000'>1000</option>
                                            <option value='2000'>2000</option>
                                            <option value='5000'>5000</option>
                                            <option value='10000'>10000</option>
                                        </select>
                                        <label class="" for="length_change">registos</label>
                                        <div class="btn-group">
                                            <button type="button" title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="GTQuestTable"><i class="fa fa-check-square"></i></button>
                                            @if (AcessControl.Authorized(AcessControl.GT_QUEST_CORONARYRISK_DELETE))
                                            {<button type="button" title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-upload="GT_RespRisco" data-entity="gtquest" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                            } <button type="button" title="Pesquisar" class="btnSearch btn btn-default" data-id="GTQuestTable"><i class="fa fa-search"></i></button>
                                                <button type="button" title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="GTQuestTable"><i class="fa fa-eraser"></i></button>
                                                <!--Separator-->
                                                <a title="Exportar filtro (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtquest", applyFilter = "true" })" target="_blank" data-id="GTQuestTable"><i class="fa fa-filter"></i></a>
                                                <a title="Exportar todos (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "gtquest", applyFilter = "false" })" target="_blank" data-id="GTQuestTable"><i class="fa fa-file-excel"></i></a>
                                            </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="GTQuestTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" id="GTQuestTableTreino" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="GTQuestTableInsercao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="GTQuestTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                                <td><input type="text" id="GTQuestTableActualizacao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="GTQuestTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th data-name="GTQuestTableTreino">&nbsp;</th>
                                                <th data-name="GTQuestTableInsercao">Inserção</th>
                                                <th data-name="GTQuestTableDataInsercao">Data Inserção</th>
                                                <th data-name="GTQuestTableActualizacao">Actualização</th>
                                                <th data-name="GTQuestTableDataActualizacao">Data Actualização</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer p-8pt">
                                    <span class="paginateInfoGTQuestTable paginateInfo mr-12pt" style="float:right"></span>
                                    <div id="paginateGTQuestTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                                </div>
                            </div>
                            <!--  DATATABLE START -->
                        </div>
                    </div>
                }
            </div>
        </div>
        <h2>&nbsp;</h2>
        <h2>&nbsp;</h2>
    </div>
    <!-- /page content -->
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            handleDataGTQuestTable();
        });
    </script>
}
else
{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $('#selecionaravaliado').click();
        });
    </script>
}