@model Gestreino.Models.GTExercicio
@{
    ViewBag.Title = "Exercícios: " + @ViewBag.data[0].nome;
}
<div class="right_col" role="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("parameters","administration")">Parametrização</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("parametersgt","administration")">Entidades Gestreino (GT)</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.data[0].nome</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-3 col-sm-12 profile_left">
                        <h3>@ViewBag.data[0].nome</h3>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-unstyled user_data">
                            <li>
                                <a title="Editar" href="javascript:void(0)" class="open-modal-crud btn btn-sm btn-secondary btn-block" data-id="@ViewBag.data[0].ID" data-action="Editar" data-entity="gtexercicio" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-pencil user-profile-icon"></i> Editar</a>
                            </li>
                            <li>
                                <a title="Remover" href="javascript:void(0)" class="open-modal-crud btn btn-sm btn-secondary btn-block" data-id="@ViewBag.data[0].ID" data-action="Remover" data-entity="gtexercicio" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-trash user-profile-icon"></i> Remover</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <table>
                                <tr>
                                    <td>Treino:</td>
                                    <td>@ViewBag.data[0].tr_nome</td>
                                </tr>
                                <tr>
                                    <td>Nome:</td>
                                    <td>@ViewBag.data[0].nome</td>
                                </tr>
                                <tr>
                                    <td>Alongamento:</td>
                                    <td>@ViewBag.data[0].ALONGAMENTO</td>
                                </tr>
                                <tr>
                                    <td>Sequência:</td>
                                    <td>@ViewBag.data[0].SEQUENCIA</td>
                                </tr>
                                <tr>
                                    <td>Inserção:</td>
                                    <td>@ViewBag.data[0].INSERCAO</td>
                                </tr>
                                <tr>
                                    <td>Data Inserção:</td>
                                    <td>@ViewBag.data[0].DATA_INSERCAO</td>
                                </tr>
                                <tr>
                                    <td>Actualização:</td>
                                    <td>@ViewBag.data[0].ACTUALIZACAO</td>
                                </tr>
                                <tr>
                                    <td>Data Actualização:</td>
                                    <td>@ViewBag.data[0].DATA_ACTUALIZACAO</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-primary-light mb-2"
         role="alert">
        <div class="d-flex flex-wrap align-items-start">
            <div class="mr-8pt">
                <i class="fa fa-folder-o"></i>&nbsp;
            </div>
            <div class="flex"
                 style="min-width: 180px">
                <span class="text-black-100">
                    <strong>Documentos!</strong> <small class="text-muted">
                        Adicione um Documento de tipo <i>Logotipo</i> para usar como imagem do treino
                    </small><br />
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-32pt">
        <div class="card-header">
            <div id="doctablebuttons">
                <div class="form-inline">
                    <label class="" for="length_change">Mostrar</label>
                    <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="tblInstituicoesArquivos">
                        <option value='10'>10</option>
                        <option value='25'>25</option>
                        <option value='50'>50</option>
                        <option value='100'>100</option>
                        <option value='500'>500</option>
                        <option value='1000'>1000</option>
                        <option value='2000'>2000</option>
                        <option value='5000'>5000</option>
                        <option value='10000'>10000</option>
                    </select>
                    <label class="" for="length_change">registos</label>
                    <div class="btn-group">
                        <button title="Selecionar" class="btnSelect btn btn-default" data-id="tblInstituicoesArquivos"><i class="fa fa-check-square"></i></button>
                        <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplos" data-entity="fileupload" data-upload="gtexercicios" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                        <button title="Descarregar documento(s) selecionado(s)" class="btn btn-default DescarregarMultiplos" disabled=""><i class="fa fa-cloud-download"></i></button>
                        <button title="Pesquisar" class="btnSearch btn btn-default" data-id="tblInstituicoesArquivos"><i class="fa fa-search"></i></button>
                        <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="tblInstituicoesArquivos"><i class="fa fa-eraser"></i></button>
                        <a title="Adicionar documento" href="javascript:" class="open-modal-crud btn btn-default" data-id="@ViewBag.data[0].ID" data-action="Adicionar" data-entity="fileupload" data-upload="gtexercicios" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i>&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" id="doctablebody">
            <table id="tblInstituicoesArquivos" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="InstArquivoNome" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDescricao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDocumento" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoTipo" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoTamanho" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoEstado" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDataActivacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDataDesactivacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDataInsercao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoActualizacao" class="form-control form-control-sm" /></td>
                        <td><input type="text" id="InstArquivoDataActualizacao" class="form-control form-control-sm" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th data-name="InstArquivoNome">Nome</th>
                        <th data-name="InstArquivoDescricao">Descrição</th>
                        <th data-name="InstArquivoDocumento">Documento</th>
                        <th data-name="InstArquivoTipo">Tipo</th>
                        <th data-name="InstArquivoTamanho">Tamanho</th>
                        <th data-name="InstArquivoEstado">Estado</th>
                        <th data-name="InstArquivoDataActivacao">Data Activação</th>
                        <th data-name="InstArquivoDataDesactivacao">Data Desactivação</th>
                        <th data-name="InstArquivoInsercao">Inserção</th>
                        <th data-name="InstArquivoDataInsercao">Data Inserção</th>
                        <th data-name="InstArquivoActualizacao">Actualização</th>
                        <th data-name="InstArquivoDataActualizacao">Data Actualização</th>
                        <th data-name="InstArquivoDataActulinkalizacao">Link</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="tablefooter">
            <div class="card-footer p-8pt">
                <span class="paginateInfoInstArquivo paginateInfo mr-12pt" style="float:right"></span>
                <div id="paginateInstArquivo" class="pagination justify-content-start pagination-xsm m-0"></div>
                @using (Html.BeginForm("downloadfiles", "ajax", FormMethod.Post, new { id = "tabledownloadform" }))
                {
                    <div id="tabledownloaddiv" hidden></div>
                }
            </div>
        </div>
    </div>
    <input type="hidden" id="EntityId" value="@ViewBag.data[0].ID" />
    <input type="hidden" id="upload" value="gtexercicios" />
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        handleDataFileUploaderView();
    });
</script>