@model Gestreino.Models.GT_FaseTreino
@{
    Layout = null;
}
<div class="card-header card-reader-radius bg-primary-pickled-bluewood">
    <h3 class="text-white mb-0">@ViewBag.Action fase do treino</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="handle-error alert alert-accent"
                 role="alert" style="display:none;">
                <div class="d-flex flex-wrap align-items-start">
                    <div class="mr-8pt">
                        <i class="fa-solid fa-shield-halved"></i>&nbsp;
                    </div>
                    <div class="flex"
                         style="min-width: 180px">
                        <span class="text-black-100">
                            <strong>Atenção!</strong> <span class="handle-error-message"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Action == "Adicionar")
    {
        using (Ajax.BeginForm("NewGRLGTFaseTreino", "administration", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
        {
            @Html.AntiForgeryToken()
            <p>  <span><i class="fa fa-info-circle"></i> Os campos a vermelho são de caráter obrigatório!</span></p>
            <div class="row">
                @Html.LabelFor(m => m.SIGLA, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.SIGLA, new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Series_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Series_ID, Model.GT_Series_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Repeticoes_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Repeticoes_ID, Model.GT_Repeticoes_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Carga_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Carga_ID, Model.GT_Carga_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_TempoDescanso_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_TempoDescanso_ID, Model.GT_TempoDescanso_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="mt-1">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
    @if (ViewBag.Action == "Editar")
    {
        using (Ajax.BeginForm("UpdateGRLGTFaseTreino", "administration", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            <p>  <span><i class="fa fa-info-circle"></i> Os campos a vermelho são de caráter obrigatório!</span></p>
            <div class="row">
                @Html.LabelFor(m => m.SIGLA, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.SIGLA, new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Series_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Series_ID, Model.GT_Series_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Repeticoes_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Repeticoes_ID, Model.GT_Repeticoes_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_Carga_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_Carga_ID, Model.GT_Carga_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.GT_TempoDescanso_ID, new { @class = "col-md-2 col-form-label required" })
                <div class="col-md-6">
                    @Html.DropDownListFor(x => Model.GT_TempoDescanso_ID, Model.GT_TempoDescanso_List, "Selecionar uma opção", new { @class = "form-control form-control-sm", required = "" })
                </div>
            </div>
            <div class="mt-1">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
    @if (ViewBag.Action == "Remover")
    {
        using (Ajax.BeginForm("DeleteGRLGTFaseTreino", "administration", new AjaxOptions { HttpMethod = "POST", OnFailure = "handleFailure", OnSuccess = "handleSuccess", UpdateTargetId = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)

            foreach (var i in ViewBag.bulkids)
            {
                <input type="hidden" value="@i" name="ids[]" />
            }
            <p>Deseja remover este(s) item(s)? Esta operação não é reversível</p>

            <div class="mt-1">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
</div>