@using Gestreino.Models
@using Gestreino.Classes
@model  GTExercicio
@{Layout = null; }
<div class="card-header card-reader-radius bg-primary-pickled-bluewood">
    <h3 class="text-white mb-0">@ViewBag.Action exercício</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="handle-error alert alert-accent"
                 role="alert" style="display:none;">
                <div class="d-flex flex-wrap align-items-start">
                    <div class="mr-8pt">
                        <i class="fa-solid fa-shield-halved"></i>&nbsp;
                    </div>
                    <div class="flex"
                         style="min-width: 180px">
                        <span class="text-black-100">
                            <strong>Atenção!</strong> <span class="handle-error-message"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.Action == "Adicionar")
    {
        using (Ajax.BeginForm("../administration/NewGRLExercicioTable", null, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "", LoadingElementDuration = 2000, OnBegin = "loadIn", OnComplete = "loadOut", OnSuccess = "handleSuccess", OnFailure = "handleFailure", UpdateTargetId = "" }, new { id = "" }))
        {
            @Html.AntiForgeryToken()
            <p>  <span><i class="fa fa-info-circle"></i> Os campos a vermelho são de caráter obrigatório!</span></p>
            <div class="form-group row">
                @Html.LabelFor(m => m.TipoTreinoId, new { @class = "col-sm-2 col-form-label text-right required" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => Model.TipoTreinoId, Model.TipoList, "Selecionar uma opcão", new { @class = "form-control form-control-sm", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Nome, new { @class = "col-sm-2 col-form-label text-right required" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => Model.Nome, new { @class = "form-control form-control-sm", placeholder = "", maxlength = "255", required = "" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Alongamento, new { @class = "col-sm-2 col-form-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => Model.Alongamento, new { @class = "form-control form-control-sm", placeholder = "", type = "number", min = "1" })
                </div>
                @Html.LabelFor(m => m.Sequencia, new { @class = "col-sm-2 col-form-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => Model.Sequencia, new { @class = "form-control form-control-sm", placeholder = "", type = "number", min = "1" })
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
    @if (ViewBag.Action == "Editar")
    {
        using (Ajax.BeginForm("../administration/UpdateGRLExercicioTable", null, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "", LoadingElementDuration = 2000, OnBegin = "loadIn", OnComplete = "loadOut", OnSuccess = "handleSuccess", OnFailure = "handleFailure", UpdateTargetId = "" }, new { id = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            <div class="form-group row">
                @Html.LabelFor(m => m.TipoTreinoId, new { @class = "col-sm-2 col-form-label text-right required" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => Model.TipoTreinoId, Model.TipoList, "Selecionar uma opcão", new { @class = "form-control form-control-sm", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Nome, new { @class = "col-sm-2 col-form-label text-right required" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => Model.Nome, new { @class = "form-control form-control-sm", placeholder = "", maxlength = "255", required = "" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Alongamento, new { @class = "col-sm-2 col-form-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => Model.Alongamento, new { @class = "form-control form-control-sm", placeholder = "", type = "number", min = "1" })
                </div>
                @Html.LabelFor(m => m.Sequencia, new { @class = "col-sm-2 col-form-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => Model.Sequencia, new { @class = "form-control form-control-sm", placeholder = "", type = "number", min = "1" })
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
    @if (ViewBag.Action == "Remover")
    {
        using (Ajax.BeginForm("../administration/DeleteGRLExercicioTable", null, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "", LoadingElementDuration = 2000, OnBegin = "loadIn", OnComplete = "loadOut", OnSuccess = "handleSuccess", OnFailure = "handleFailure", UpdateTargetId = "" }, new { id = "" }))
        {
            @Html.AntiForgeryToken()
            <div class="row col-lg-12">
                @{ foreach (var id in ViewBag.bulkids)
                    {
                        <input type="hidden" name="Ids[]" value="@id" />
                    }
                }
                <p>Deseja remover este(s) item(s)?</p>

            </div>
            <div>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm" id="BtnSubmit">Submeter</button>
            </div>
        }
    }
</div>