@using Gestreino.Classes;
@{ 
    if(ViewBag.LeftBarLinkActive==null) { ViewBag.LeftBarLinkActive = 0; }
    List<int> Settings = new List<int> { 101, 102, 103, 104, 105,106 };}
@if (Request.IsAuthenticated)
{
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li class="@(ViewBag.LeftBarLinkActive==201?"active":"")">
                    <a><i class="fa fa-user-tag fa-fw"></i> Atletas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive==201?"block":"")">
                        <li @(!AcessControl.Authorized(AcessControl.GT_ATHLETES_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive==201?"current-page":"")"><a href="@Url.Action("athletes","gtmanagement")">Dados biográficos</a></li>
                        <li>
                            <a href="javascript:" title="Selecionar Avaliado" class="open-modal-crud" data-id="0" data-action="Adicionar" data-entity="gtavaliado" data-toggle="modal" data-target="#crudControlModal">Selecionar avaliado</a>
                        </li>
                    </ul>
                </li>
                @if (AcessControl.Authorized(AcessControl.GT_PLANS_BODYMASS_LIST_VIEW_SEARCH)
                || AcessControl.Authorized(AcessControl.GT_PLANS_CARDIO_LIST_VIEW_SEARCH))
                {
                    <li class="@(ViewBag.LeftBarLinkActive == 202 || ViewBag.LeftBarLinkActive == 203 ? "active" : "")">
                        <a><i class="fa fa-pen-nib fa-fw"></i> Prescrição <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive == 202 || ViewBag.LeftBarLinkActive == 203 || ViewBag.LeftBarLinkActive == 204 ? "block" : "")">
                            <li @(!AcessControl.Authorized(AcessControl.GT_PLANS_BODYMASS_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 202 ? "current-page" : "")"><a href="@Url.Action("bodymassplans", "gtmanagement", new { Id = string.Empty })">Plano de Musculação</a></li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_PLANS_CARDIO_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 203 ? "current-page" : "")"><a href="@Url.Action("cardioplans", "gtmanagement", new { Id = string.Empty })">Plano de Cardiovascular</a></li>
                        </ul>
                    </li>
                }
                @if (AcessControl.Authorized(AcessControl.GT_QUEST_ANXIETY_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_SELFCONCEPT_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_CORONARYRISK_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_HEALTH_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_FLEXIBILITY_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_BODYCOMPOSITION_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_CARDIO_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_ELDERLY_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_FORCE_LIST_VIEW_SEARCH)
               || AcessControl.Authorized(AcessControl.GT_QUEST_FUNCTIONAL_LIST_VIEW_SEARCH))
                {
                    <li class="@(ViewBag.LeftBarLinkActive == 205 || ViewBag.LeftBarLinkActive == 206 || ViewBag.LeftBarLinkActive == 207 || ViewBag.LeftBarLinkActive == 208 || ViewBag.LeftBarLinkActive == 209 || ViewBag.LeftBarLinkActive == 210 || ViewBag.LeftBarLinkActive == 211 || ViewBag.LeftBarLinkActive == 212 || ViewBag.LeftBarLinkActive == 213 || ViewBag.LeftBarLinkActive == 214 ? "active" : "")">
                        <a><i class="fa fa-clipboard-check fa-fw"></i> Avaliação <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive == 205 || ViewBag.LeftBarLinkActive == 206 || ViewBag.LeftBarLinkActive == 207 || ViewBag.LeftBarLinkActive == 208 || ViewBag.LeftBarLinkActive == 209 || ViewBag.LeftBarLinkActive == 210 || ViewBag.LeftBarLinkActive == 211 || ViewBag.LeftBarLinkActive == 212 || ViewBag.LeftBarLinkActive == 213 || ViewBag.LeftBarLinkActive == 214 ? "block" : "")">
                            @if (AcessControl.Authorized(AcessControl.GT_QUEST_ANXIETY_LIST_VIEW_SEARCH)
                        || AcessControl.Authorized(AcessControl.GT_QUEST_SELFCONCEPT_LIST_VIEW_SEARCH))
                            {
                                <li>
                                    <a>Estado Psicológico<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive == 205 || ViewBag.LeftBarLinkActive == 206 ? "block" : "")">
                                        <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_ANXIETY_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 205 ? "current-page" : "") sub_menu">
                                            <a href="@Url.Action("anxiety", "gtmanagement", new { Id = string.Empty })">Ansiedade e Depressão</a>
                                        </li>
                                        <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_SELFCONCEPT_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 206 ? "current-page" : "")">
                                            <a href="@Url.Action("selfconcept", "gtmanagement", new { Id = string.Empty })">Auto Conceito</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_CORONARYRISK_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 207 ? "current-page" : "")">
                                <a href="@Url.Action("coronaryrisk", "gtmanagement", new { Id = string.Empty })">Risco Coronário</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_HEALTH_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 208 ? "current-page" : "")">
                                <a href="@Url.Action("health", "gtmanagement", new { Id = string.Empty })">Problemas de Saúde</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_FLEXIBILITY_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 209 ? "current-page" : "")">
                                <a href="@Url.Action("flexibility", "gtmanagement", new { Id = string.Empty })">Flexibilidade</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_BODYCOMPOSITION_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 210 ? "current-page" : "")">
                                <a href="@Url.Action("bodycomposition", "gtmanagement", new { Id = string.Empty })">Composição Corporal</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_CARDIO_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 211 ? "current-page" : "")">
                                <a href="@Url.Action("cardio", "gtmanagement", new { Id = string.Empty })">Aptidão Cardiorespiratória</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_ELDERLY_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 212 ? "current-page" : "")">
                                <a href="@Url.Action("elderly", "gtmanagement", new { Id = string.Empty })">Pessoa Idosa</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_FORCE_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 213 ? "current-page" : "")">
                                <a href="@Url.Action("force", "gtmanagement", new { Id = string.Empty })">Força</a>
                            </li>
                            <li @(!AcessControl.Authorized(AcessControl.GT_QUEST_FUNCTIONAL_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 214 ? "current-page" : "")">
                                <a href="@Url.Action("functional", "gtmanagement", new { Id = string.Empty })">Funcional</a>
                            </li>
                        </ul>
                    </li>
                } @if (AcessControl.Authorized(AcessControl.GT_SEARCH_PRESCRIPTIONS_LIST_VIEW_SEARCH)
                   || AcessControl.Authorized(AcessControl.GT_SEARCH_EVALUATIONS_LIST_VIEW_SEARCH)
                   || AcessControl.Authorized(AcessControl.GT_SEARCH_MEDIUMWEIGHT_LIST_VIEW_SEARCH)
                   || AcessControl.Authorized(AcessControl.GT_SEARCH_ANALYSIS_LIST_VIEW_SEARCH)
                   || AcessControl.Authorized(AcessControl.GT_SEARCH_RANKING_LIST_VIEW_SEARCH)
                   || AcessControl.Authorized(AcessControl.GT_SEARCH_OTHERS_LIST_VIEW_SEARCH))
                    {
                        <li>
                            <a><i class="fa fa-search fa-fw"></i> Consultas <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_PRESCRIPTIONS_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("prescriptions", "gtmanagement", new { Id = string.Empty })">Prescrições</a></li>
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_EVALUATIONS_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("evaluations", "gtmanagement", new { Id = string.Empty })">Avaliações</a></li>
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_MEDIUMWEIGHT_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("mediumweight", "gtmanagement", new { Id = string.Empty })">Peso Médio</a></li>
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_ANALYSIS_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("analysis", "gtmanagement", new { Id = string.Empty })">Análise Descritiva</a></li>
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_RANKING_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("ranking", "gtmanagement", new { Id = string.Empty })">Ranking Avaliações</a></li>
                                <li @(!AcessControl.Authorized(AcessControl.GT_SEARCH_OTHERS_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("others", "gtmanagement", new { Id = string.Empty })">Outras Avaliações</a></li>
                            </ul>
                        </li>
                    }
                    @if (AcessControl.Authorized(AcessControl.GT_REPORTS_LIST_VIEW_SEARCH))
                    {
                        <li>
                            <a><i class="fa fa-print fa-fw"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li @(!AcessControl.Authorized(AcessControl.GT_REPORTS_LIST_VIEW_SEARCH) ? "hidden" : "")><a href="@Url.Action("reports", "gtmanagement", new { Id = string.Empty })">Relatório Actual</a></li>
                            </ul>
                        </li>
                    }
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_USERS_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_USERS_LOGIN_LOGS_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_SEC_TOKENS_LIST_VIEW_SEARCH)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_ADM)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_GT)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_PES)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_INST_EDIT)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_SETINGS_EDIT)
                    || AcessControl.Authorized(AcessControl.ADM_CONFIG_FILEMGR))
                    {
                        <li class="@(Settings.Contains(ViewBag.LeftBarLinkActive) ? "active" : "")">
                            <a><i class="fa fa-cog fa-fw"></i> Configurações <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu"
                                style="display:@(Settings.Contains(ViewBag.LeftBarLinkActive) ? "block" : "")">
                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_USERS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_LOGIN_LOGS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_SEC_TOKENS_LIST_VIEW_SEARCH))
                                {
                                    <li class="@(ViewBag.LeftBarLinkActive == 101 || ViewBag.LeftBarLinkActive == 102 || ViewBag.LeftBarLinkActive == 103 || ViewBag.LeftBarLinkActive == 106 ? "active" : "")">
                                        <a>Controlo de Acesso<span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display:@(ViewBag.LeftBarLinkActive == 101 || ViewBag.LeftBarLinkActive == 102 || ViewBag.LeftBarLinkActive == 103 || ViewBag.LeftBarLinkActive == 106 ? "block" : "")">
                                            <li @(!AcessControl.Authorized(AcessControl.ADM_USERS_USERS_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 101 ? "current-page" : "")"><a href="@Url.Action("users", "administration")">Utilizadores</a></li>
                                            <li @(AcessControl.Authorized(AcessControl.ADM_USERS_ATOMS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_GROUPS_LIST_VIEW_SEARCH) || AcessControl.Authorized(AcessControl.ADM_USERS_PROFILES_LIST_VIEW_SEARCH) ? "" : "hidden") class="@(ViewBag.LeftBarLinkActive == 102 ? "current-page" : "")"><a href="@Url.Action("access", "administration")">Grupos, perfis e átomos</a></li>
                                            <li @(!AcessControl.Authorized(AcessControl.ADM_USERS_LOGIN_LOGS_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 103 ? "current-page" : "")"><a href="@Url.Action("loginlogs", "administration")">Rastreamento de sessão</a></li>
                                            <li @(!AcessControl.Authorized(AcessControl.ADM_SEC_TOKENS_LIST_VIEW_SEARCH) ? "hidden" : "") class="@(ViewBag.LeftBarLinkActive == 106 ? "current-page" : "")"><a href="@Url.Action("tokens", "administration")">Tokens</a></li>
                                        </ul>
                                    </li>
                                }
                                <li @(AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_ADM) || AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_GT) || AcessControl.Authorized(AcessControl.ADM_CONFIG_PARAM_PES) ? "" : "hidden") class="@(ViewBag.LeftBarLinkActive == 104 ? "current-page" : "")"><a href="@Url.Action("parameters", "administration")">Parametrização</a></li>
                                <li @(AcessControl.Authorized(AcessControl.ADM_CONFIG_INST_EDIT) || AcessControl.Authorized(AcessControl.ADM_CONFIG_FILEMGR) || AcessControl.Authorized(AcessControl.ADM_CONFIG_SETINGS_EDIT) ? "" : "hidden") class="@(ViewBag.LeftBarLinkActive == 105 ? "current-page" : "")"><a href="@Url.Action("settings", "administration")">Definições</a></li>
                            </ul>
                        </li>
                    }
                </ul>
        </div>
    </div>
}