@model Gestreino.Models.Users
@using Gestreino.Classes;
@{
    ViewBag.Title = ViewBag.data[0].LOGIN;
}
<div class="right_col" role="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("users","administration")">Utilizadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.data[0].LOGIN</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-3 col-sm-3  profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <img class="img-responsive avatar-view navImg" width="200" src="@ViewBag.imgSrc" alt="@ViewBag.data[0].NOME" title="@ViewBag.data[0].NOME">
                            </div>
                        </div>
                        <h3>@ViewBag.data[0].LOGIN</h3>

                    </div>
                    <div class="col-md-2" @(AcessControl.Authorized(AcessControl.ADM_USERS_USERS_EDIT) || AcessControl.Authorized(AcessControl.ADM_USERS_USERS_ALTER_PASSWORD) || !AcessControl.Authorized(AcessControl.ADM_USERS_USERS_CLEAR_PWD_ATTEMPT)?"":"hidden")>
                        <ul class="list-unstyled user_data">
                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_USERS_EDIT))
                            {
                                <li>
                                    <a title="Editar" href="javascript:void(0)" class="open-modal-crud btn btn-sm btn-secondary btn-block" data-id="@ViewBag.data[0].ID" data-action="Editar" data-entity="users" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-pencil user-profile-icon"></i> Editar</a>
                                </li>
                            }
                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_USERS_ALTER_PASSWORD))
                            {
                                <li>
                                    <a title="Alterar senha" href="javascript:void(0)" class="open-modal-crud btn btn-sm btn-secondary btn-block" data-id="@ViewBag.data[0].ID" data-action="AlterarSenha" data-entity="users" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-key user-profile-icon"></i> Alterar senha</a>
                                </li>
                            }
                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_USERS_CLEAR_PWD_ATTEMPT))
                            {
                                <li>
                                    <a title="Limpar bloqueio" href="javascript:void(0)" class="open-modal-crud btn btn-sm btn-secondary btn-block" data-id="@ViewBag.data[0].ID" data-action="LimparLogs" data-entity="users" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-eraser user-profile-icon"></i> Limpar bloqueio</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <table>
                                <tr>
                                    <td>Utilizador:</td>
                                    <td>@ViewBag.data[0].LOGIN</td>
                                </tr>
                                <tr>
                                    <td>Nome:</td>
                                    <td>@ViewBag.data[0].NOME</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>@ViewBag.data[0].EMAIL</td>
                                </tr>
                                <tr>
                                    <td>Telefone:</td>
                                    <td>@ViewBag.data[0].TELEFONE</td>
                                </tr>
                                <tr>
                                    <td>Total de Grupos:</td>
                                    <td>@ViewBag.data[0].TOTALGROUPS</td>
                                </tr>
                                <tr>
                                    <td>Total de Perfis:</td>
                                    <td>@ViewBag.data[0].TOTALPERFIS</td>
                                </tr>
                                <tr>
                                    <td>Estado:</td>
                                    <td>@ViewBag.data[0].ACTIVO</td>
                                </tr>
                                <tr>
                                    <td>Inserção:</td>
                                    <td>@ViewBag.data[0].INSERCAO</td>
                                </tr>
                                <tr>
                                    <td>Data Inserção:</td>
                                    <td>@ViewBag.data[0].DATA_INSERCAO</td>
                                </tr>
                                <tr>
                                    <td>Actualização:</td>
                                    <td>@ViewBag.data[0].ACTUALIZACAO</td>
                                </tr>
                                <tr>
                                    <td>Data Actualização:</td>
                                    <td>@ViewBag.data[0].DATA_ACTUALIZACAO</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab_content3" role="tab" id="" data-toggle="tab" aria-expanded="true">Acesso à</a>
                    </li>
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILE_USERS_LIST_VIEW_SEARCH))
                    {
                        <li role="presentation" class="">
                            <a href="#tab_content1" id="" role="tab" data-toggle="tab" aria-expanded="false">Perfis</a>
                        </li>
                    }
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUP_USERS_LIST_VIEW_SEARCH))
                    {
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="" data-toggle="tab" aria-expanded="false">Grupos</a>
                        </li>
                    }
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_LOGIN_LOGS_LIST_VIEW_SEARCH))
                    {
                        <li role="presentation" class="">
                            <a href="#tab_content4" role="tab" id="" data-toggle="tab" aria-expanded="false">Rastreamento de sessão</a>
                        </li>
                    }
                </ul>
                <div id="myTabContent" class="tab-content">
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILE_USERS_LIST_VIEW_SEARCH))
                    {
                        <div role="tabpanel" class="tab-pane" id="tab_content1" aria-labelledby="">
                            <div class="card mb-32pt">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <label class="" for="length_change">Mostrar</label>
                                        <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="ProfileUtilTable">
                                            <option value='10'>10</option>
                                            <option value='25'>25</option>
                                            <option value='50'>50</option>
                                            <option value='100'>100</option>
                                            <option value='500'>500</option>
                                            <option value='1000'>1000</option>
                                            <option value='2000'>2000</option>
                                            <option value='5000'>5000</option>
                                            <option value='10000'>10000</option>
                                        </select>
                                        <label class="" for="length_change">registos</label>
                                        <div class="btn-group">
                                            <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="ProfileUtilTable"><i class="fa fa-check-square"></i></button>
                                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILE_USERS_DELETE))
                                            {
                                                <button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplosUtilProfile" data-entity="usergroups" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                            }<button title="Pesquisar" class="btnSearch btn btn-default" data-id="ProfileUtilTable"><i class="fa fa-search"></i></button>
                                            <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="ProfileUtilTable"><i class="fa fa-eraser"></i></button>
                                                @if (AcessControl.Authorized(AcessControl.ADM_USERS_PROFILE_USERS_NEW))
                                                {
                                                    <a title="Adicionar perfil" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="@ViewBag.data[0].ID" data-action="AdicionarUtilProfile" data-entity="usergroups" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                                }
                                            </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="ProfileUtilTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" id="ProfileUtilTableUtilizador" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="ProfileUtilTablePerfil" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="ProfileUtilTableInsercao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="ProfileUtilTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                                <td><input type="text" id="ProfileUtilTableActualizacao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="ProfileUtilTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th data-name="ProfileUtilTableUtilizador">Utilizador</th>
                                                <th data-name="ProfileUtilTablePerfil">Perfil</th>
                                                <th data-name="ProfileUtilTableInsercao">Inserção</th>
                                                <th data-name="ProfileUtilTableDataInsercao">Data Inserção</th>
                                                <th data-name="ProfileUtilTableActualizacao">Actualização</th>
                                                <th data-name="ProfileUtilTableDataActualizacao">Data Actualização</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer p-8pt">
                                    <span class="paginateInfoProfileUtilTable paginateInfo mr-12pt" style="float:right"></span>
                                    <div id="paginateProfileUtilTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUP_USERS_LIST_VIEW_SEARCH))
                    {
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="">
                            <div class="card mb-32pt">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <label class="" for="length_change">Mostrar</label>
                                        <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="UserGroupTable">
                                            <option value='10'>10</option>
                                            <option value='25'>25</option>
                                            <option value='50'>50</option>
                                            <option value='100'>100</option>
                                            <option value='500'>500</option>
                                            <option value='1000'>1000</option>
                                            <option value='2000'>2000</option>
                                            <option value='5000'>5000</option>
                                            <option value='10000'>10000</option>
                                        </select>
                                        <label class="" for="length_change">registos</label>
                                        <div class="btn-group">
                                            <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="UserGroupTable"><i class="fa fa-check-square"></i></button>
                                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUP_USERS_DELETE))
                                            {<button title="Remover selecionado(s)" class="open-modal-crud RemoverMultiplos btn btn-default" data-id="0" data-action="RemoverMultiplosGroupUtil" data-entity="usergroups" data-toggle="modal" data-target="#crudControlModal" disabled=""><i class="fa fa-trash"></i></button>
                                            } <button title="Pesquisar" class="btnSearch btn btn-default" data-id="UserGroupTable"><i class="fa fa-search"></i></button>
                                            <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="UserGroupTable"><i class="fa fa-eraser"></i></button>
                                            @if (AcessControl.Authorized(AcessControl.ADM_USERS_GROUP_USERS_NEW))
                                            {<a title="Adicionar grupo" href="javascript:void(0)" class="open-modal-crud btn btn-default" data-id="@ViewBag.data[0].ID" data-action="AdicionarUtilGroup" data-entity="usergroups" data-toggle="modal" data-target="#crudControlModal"><i class="fa fa-plus-circle"></i></a>
                                            }</div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="UserGroupTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" id="UserGroupTableGrupo" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserGroupTableUtilizador" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserGroupTableInsercao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserGroupTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                                <td><input type="text" id="UserGroupTableActualizacao" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserGroupTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th data-name="UserGroupTableGrupo">Grupo</th>
                                                <th data-name="UserGroupTableUtilizador">Utilizador</th>
                                                <th data-name="UserGroupTableInsercao">Inserção</th>
                                                <th data-name="UserGroupTableDataInsercao">Data Inserção</th>
                                                <th data-name="UserGroupTableActualizacao">Actualização</th>
                                                <th data-name="UserGroupTableDataActualizacao">Data Actualização</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer p-8pt">
                                    <span class="paginateInfoUserGroupTable paginateInfo mr-12pt" style="float:right"></span>
                                    <div id="paginateUserGroupTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <div role="tabpanel" class="tab-pane active" id="tab_content3" aria-labelledby="">
                        <div class="card mb-32pt">
                            <div class="card-header">
                                <div class="form-inline">
                                    <label class="" for="length_change">Mostrar</label>
                                    <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="AtomsAccessTable">
                                        <option value='10'>10</option>
                                        <option value='25'>25</option>
                                        <option value='50'>50</option>
                                        <option value='100'>100</option>
                                        <option value='500'>500</option>
                                        <option value='1000'>1000</option>
                                        <option value='2000'>2000</option>
                                        <option value='5000'>5000</option>
                                        <option value='10000'>10000</option>
                                    </select>
                                    <label class="" for="length_change">registos</label>
                                    <div class="btn-group">
                                        <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="AtomsAccessTable"><i class="fa fa-check-square"></i></button>
                                        <button title="Pesquisar" class="btnSearch btn btn-default" data-id="AtomsAccessTable"><i class="fa fa-search"></i></button>
                                        <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="AtomsAccessTable"><i class="fa fa-eraser"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="AtomsAccessTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><input type="text" id="AtomsAccessTableNome" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="AtomsAccessTableDesc" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="AtomsAccessTableInsercao" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="AtomsAccessTableDataInsercao" class="form-control form-control-sm datepicker" /></td>
                                            <td><input type="text" id="AtomsAccessTableActualizacao" class="form-control form-control-sm" /></td>
                                            <td><input type="text" id="AtomsAccessTableDataActualizacao" class="form-control form-control-sm datepicker" /></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th data-name="AtomsAccessTableNome">Nome</th>
                                            <th data-name="AtomsAccessTableDesc">Descrição</th>
                                            <th data-name="AtomsAccessTableInsercao">Inserção</th>
                                            <th data-name="AtomsAccessTableDataInsercao">Data Inserção</th>
                                            <th data-name="AtomsAccessTableActualizacao">Actualização</th>
                                            <th data-name="AtomsAccessTableDataActualizacao">Data Actualização</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="card-footer p-8pt">
                                <span class="paginateInfoAtomsAccessTable paginateInfo mr-12pt" style="float:right"></span>
                                <div id="paginateAtomsAccessTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                            </div>
                        </div>
                    </div>

                    @if (AcessControl.Authorized(AcessControl.ADM_USERS_LOGIN_LOGS_LIST_VIEW_SEARCH))
                    {
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="">
                             <div class="card mb-32pt">
                                <div class="card-header">
                                    <div class="form-inline">
                                        <label class="" for="length_change">Mostrar</label>
                                        <select class="custom-select length_change mb-2 mr-sm-2 mb-sm-0" data-id="UserLogTable">
                                            <option value='10'>10</option>
                                            <option value='25'>25</option>
                                            <option value='50'>50</option>
                                            <option value='100'>100</option>
                                            <option value='500'>500</option>
                                            <option value='1000'>1000</option>
                                            <option value='2000'>2000</option>
                                            <option value='5000'>5000</option>
                                            <option value='10000'>10000</option>
                                        </select>
                                        <label class="" for="length_change">registos</label>
                                        <div class="btn-group">
                                            <button title="Selecionar" id="btnSelect" class="btnSelect btn btn-default" data-id="UserLogTable"><i class="fa fa-check-square"></i></button>
                                            <button title="Pesquisar" class="btnSearch btn btn-default" data-id="UserLogTable"><i class="fa fa-search"></i></button>
                                            <button title="Limpar Filtro" class="btnLimpar btn btn-default" data-id="UserLogTable"><i class="fa fa-eraser"></i></button>
                                            <a title="Exportar filtro (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "GetUserLog", applyFilter = "true" })" target="_blank" data-id="UserLogTable"><i class="fa fa-filter"></i></a>
                                            <a title="Exportar todos (.xlsx)" class="btnSearch btn btn-default" href="@Url.Action("ExportToExcel", "XLSReports", new { section = "GetUserLog", applyFilter = "false" })" target="_blank" data-id="UserLogTable"><i class="fa fa-file-excel"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="UserLogTable" class="hideInputCheck table table-hover mb-0 thead-border-top-0 table-nowrap">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" id="UserLogTableLogin" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableIP" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableMAC" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableHost" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableDispositivo" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableURL" class="form-control form-control-sm" /></td>
                                                <td><input type="text" id="UserLogTableData" class="form-control form-control-sm datepicker" /></td>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th data-name="UserLogTableLogin">Utilizador</th>
                                                <th data-name="UserLogTableIP">IP</th>
                                                <th data-name="UserLogTableMAC">MAC</th>
                                                <th data-name="UserLogTableHost">Host</th>
                                                <th data-name="UserLogTableDispositivo">Dispositivo</th>
                                                <th data-name="UserLogTableURL">URL</th>
                                                <th data-name="UserLogTableData">Data</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="card-footer p-8pt">
                                    <span class="paginateInfoUserLogTable paginateInfo mr-12pt" style="float:right"></span>
                                    <div id="paginateUserLogTable" class="pagination justify-content-start pagination-xsm m-0"></div>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id, new { Id = "UserId" })
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        handleDataProfileUtil();
        handleDataUserGroups();
        handleDataUserLogTable();
        handleDataAtomsAccessTable();
    });
</script>